extends /_layout.pug

block vars
  - var title = 'Internet Explorer Grid'

block content
  article.grid-article
    h1 IE 9 Fallback Grid
    | This is an IE9 fallback grid using floats instead of Flexbox. It drops several Flexbox features, but aims to deliver the basic grid to IE9. Please set your emulation mode to IE9 to see a demo.
    h2 Simple Syntax
    | Get started with as few as four classes.

    +exampleWithCode
      include ../grid/_grid-basic.pug

    h2 Mobile-First & Responsive
    | Start with #[span.code xs], then mix and match responsive modifiers.

    +exampleWithCode
      include ../grid/_grid-responsive.pug

    h2 Column Offsets
    | Nudge a column to the right with an `-offset` class.

    +exampleWithCode
      include ../grid/_grid-column-offsets.pug

    h2 Nesting

    +exampleWithCode
      include ../grid/_grid-nested.pug

    h2 Alignment Classes
    h3 Horizontal
    h4 -start, -center, -end

    +exampleWithCode
      include ../grid/_grid-alignment-horizontal.pug

    h2 Column Order
    | Utilizaing these features in IE9 requires additional "-push" and "-pull" classes.
    
    h3 Use offset/pull classes to move columns
    +exampleWithCode
      include _grid-order-push.pug
    
    h3 first &amp; last

    +exampleWithCode
      include _grid-order-first.pug

    +exampleWithCode
      include _grid-order-last.pug

    h3 reverse

    +exampleWithCode
      include ../grid/_grid-order-reverse.pug
